.link {
  height: 100%;
  width: 100%;
  text-decoration: none;
  position: relative;
}

.link-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 300px;
  width: 100%;

  strong {
    position: absolute;
    z-index: 1;
    color: var(--color-brighter);
    font-weight: var(--font-weight-default);
    font-size: var(--font-size-large);
  }

  &::after {
    background: black;
    opacity: 0.7;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @media (width <= 1200px) {
    height: 200px;
  }

  @media (width <= 900px) {
    height: 100px;
    border-bottom: 1px solid var(--background-dark);
  }
}

.image-project {
  width: 100%;
  height: 100%;
  position: relative;

  img {
    filter: saturate(0%) contrast(30%);
    object-fit: cover;
  }
}

.link-thoughts {
  display: block;
  background: var(--background-light);
  padding: var(--spacing-medium);

  strong {
    color: var(--color-brighter);
    font-weight: var(--font-weight-default);
    font-size: var(--font-size-large);
    padding-top: var(--spacing-small);
  }

  span {
    display: block;
    padding-top: var(--spacing-mini);
    color: var(--color-default);
  }

  @media (width <= 900px) {
    background: none;
    border-top: 1px solid var(--background-light);
  }
}
