.popup-picture {
  object-fit: contain;
}

.images {
  display: flex;
  gap: var(--spacing-huge);
  flex-direction: column;
  list-style: none;
  width: 100%;

  li {
    background: var(--background-light);
    padding: var(--spacing-large);
    display: flex;
    flex-direction: column;

    figure {
      position: relative;
      width: 100%;
      height: 100%;

      img {
        cursor: pointer;
        object-fit: cover;
      }
    }

    legend {
      padding-top: var(--spacing-large);
      display: flex;
      justify-content: space-between;
    }
  }

  @media (width <= 900px) {
    gap: 1px;

    li {
      padding: var(--spacing-medium);
    }
  }
}

.images-tall {
  li {
    height: 600px;
  }

  @media (width <= 900px) {
    li {
      height: 300px;
    }
  }
}

.images-short {
  li {
    height: 300px;
  }
}
