:root {
  --color-default: rgba(255 255 255 / 30%);
  --color-bright: rgba(255 255 255 / 50%);
  --color-brighter: rgba(255 255 255 / 80%);
  --color-print: black;
  --color-active: white;
  --line-height-default: 1.5em;
  --line-height-tight: 1.1em;
  --background-print: white;
  --background-dark: rgba(0 0 0 / 90%);
  --background-light: rgba(255 255 255 / 10%);
  --background-nav: rgba(20 20 20);
  --selection: rgba(255 255 255 / 35%);
  --font-size-small: 12px;
  --font-size-default: 16px;
  --font-size-medium: 18px;
  --font-size-large: 24px;
  --font-size-huge: 32px;
  --font-weight-default: 300;
  --font-weight-thin: 200;
  --font-weight-bold: 600;
  --spacing-line: 1px;
  --spacing-mini: 4px;
  --spacing-small: 8px;
  --spacing-medium: 12px;
  --spacing-large: 16px;
  --spacing-huge: 24px;
  --spacing-page: 48px;
  --z-index-nav: 10;
  --z-index-overlay: 20;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-weight: var(--font-weight-default);
  font-size: var(--font-size-default);
  line-height: var(--line-height-default);
  color: var(--color-default);
  background: var(--background-dark);
}

::selection {
  background: var(--selection);
}

@media print {
  body {
    color: var(--color-print);
    background: var(--background-print);
  }
}
