:root {
  --colorDefault: rgba(255, 255, 255, 0.3);
  --colorBright: rgba(255, 255, 255, 0.5);
  --colorBrighter: rgba(255, 255, 255, 0.8);
  --colorPrint: black;
  --colorActive: white;
  --lineHeightDefault: 1.5em;
  --lineHeightTight: 1.1em;
  --backgroundPrint: white;
  --backgroundDark: rgba(0, 0, 0, 0.9);
  --backgroundLight: rgba(255, 255, 255, 0.1);
  --backgroundNav: rgba(20, 20, 20);
  --selection: rgba(255, 255, 255, 0.35);
  --fontSizeSmall: 12px;
  --fontSizeDefault: 16px;
  --fontSizeMedium: 18px;
  --fontSizeLarge: 24px;
  --fontSizeHuge: 32px;
  --fontWeight: 300;
  --fontWeightThin: 200;
  --fontWeightBold: 600;
  --spacingMini: 4px;
  --spacingSmall: 8px;
  --spacingMedium: 12px;
  --spacingLarge: 16px;
  --spacingHuge: 24px;
  --spacingPage: 48px;
  --zIndexNav: 10;
  --zIndexOverlay: 20;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-weight: var(--fontWeightDefault);
  font-size: var(--fontSizeDefault);
  line-height: var(--lineHeightDefault);
  color: var(--colorDefault);
  background: linear-gradient(
    -45deg,
    rgb(0, 26, 25),
    rgb(4, 0, 26),
    rgb(0, 26, 25),
    rgb(4, 0, 26)
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

::selection {
  background: var(--selection);
}

@media print {
  body {
    color: var(--colorPrint);
    background: var(--backgroundPrint);
  }
}
