.main {
  width: 100%;
  max-width: 990px;
  min-height: 100vh;
  margin: 0 auto;
  padding: var(--spacing-page) 0;

  @media (width <= 1500px) {
    padding: var(--spacing-page) var(--spacing-page) var(--spacing-page) 190px;
    max-width: 100%;
    margin: 0;
  }

  @media (width <= 900px) {
    padding: 0 0 64px;
  }

  @media print {
    max-width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}

.page {
  @media (width <= 900px) {
    padding: var(--spacing-medium);
  }
}
