.bar {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  gap: var(--spacing-line);

  @media (width <= 600px) {
    width: 100%;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0 calc(var(--spacing-medium) / 2);
    background: var(--background-light);

    &:first-child {
      border-top-left-radius: var(--spacing-mini);
      border-top-right-radius: var(--spacing-mini);
    }

    &:last-child {
      border-bottom-left-radius: var(--spacing-mini);
      border-bottom-right-radius: var(--spacing-mini);
    }

    @media (width <= 900px) {
      &:first-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }

      &:last-child {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    li {
      text-align: center;
      flex: 0 0 auto;

      a {
        padding: var(--spacing-medium);
        display: flex;
        align-items: center;
        color: var(--color-default);
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
          text-decoration: underline;
          color: rgb(13 166 120);
        }
      }
    }
  }
}

.all {
  margin-top: var(--spacing-page);

  @media (width <= 900px) {
    padding: 0 var(--spacing-page);
  }

  > ul {
    list-style: none;
    columns: 180px;
    gap: var(--spacing-page);

    > li {
      break-inside: avoid;
      margin-bottom: var(--spacing-huge);

      h2 {
        font-size: larger;
      }

      ul {
        list-style: none;

        li {
          padding-left: 30px;
          text-indent: -20px;
          margin-top: 4px;

          a {
            color: var(--color-default);
            text-decoration: none;

            &:hover {
              text-decoration: underline;
              color: rgb(13 166 120);
            }
          }

          &::before {
            content: '•';
            padding-right: 12px;
          }
        }
      }
    }
  }
}
