.md {
  blockquote {
    font-style: italic;
    font-size: var(--font-size-huge);
    line-height: var(--line-height-tight);
    display: inline-block;

    > * {
      display: inline;
    }

    ::before {
      display: inline;
      content: '“';
    }

    ::after {
      display: inline;
      content: '”';
    }
  }

  > *:not(:last-child, h1, h2, h3, h4, hr) {
    padding-bottom: var(--spacing-huge);
  }

  a {
    text-decoration: none;
    color: rgb(13 166 120);

    &:hover {
      text-decoration: underline;
    }
  }

  h1 {
    color: var(--color-brighter);
    font-size: var(--font-size-huge);
    font-weight: var(--font-weight-thin);
    line-height: var(--line-height-tight);
    padding-bottom: var(--spacing-huge);
  }

  h2 {
    color: var(--color-brighter);
    padding-bottom: var(--spacing-mini);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-thin);
    line-height: var(--line-height-tight);
  }

  h3 {
    color: var(--color-bright);
    padding-bottom: var(--spacing-mini);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-default);
  }

  code {
    vertical-align: middle;
    padding: var(--spacing-mini);
    margin: 0 var(--spacing-mini);
    background: var(--background-light);
    color: var(--color-brighter);
    font-size: var(--font-size-small);
    word-break: break-word;

    ::selection {
      background: var(--background-dark);
    }
  }

  pre {
    white-space: pre-wrap;

    code {
      display: block;
      padding: var(--spacing-medium);
      overflow-x: auto;
    }
  }

  ul {
    padding: 0;
    list-style: none;

    & > li {
      padding-left: 30px;
      text-indent: -20px;

      &::before {
        content: '•';
        padding-right: 12px;
      }
    }
  }

  ol {
    padding: 0;
    padding-left: 30px;
  }

  hr {
    height: 1px;
    background: var(--background-light);
    border: none;
    margin-bottom: var(--spacing-large);
  }

  img {
    max-width: 100%;
  }

  @media print {
    a,
    h1,
    h2,
    h3,
    h4,
    h5 {
      color: var(--color-print);
    }
  }
}
