.icon-folder:before {
  content: '\e800';
} /* '' */
.icon-feather:before {
  content: '\e801';
} /* '' */
.icon-home:before {
  content: '\e802';
} /* '' */
.icon-camera:before {
  content: '\e803';
} /* '' */
