.nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: var(--z-index-nav);
  top: 47px;
  margin-left: 50%;
  left: -638px;

  @media (width <= 1500px) {
    margin-left: 0;
    left: var(--spacing-page);
  }

  @media (width <= 900px) {
    width: 100%;
    top: auto;
    bottom: 0;
    left: 0;
    flex-direction: row;
    background: var(--background-nav);
  }

  @media print {
    display: none;
  }
}

.nav-resume {
  display: none;
}

.link {
  font-size: var(--font-size-medium);
  color: var(--color-default);
  text-decoration: none;
  padding: var(--spacing-small);
  outline: none;

  span {
    display: block;
  }

  i {
    display: none;
  }

  @media (width <= 900px) {
    width: 100%;
    text-align: center;

    span {
      font-size: var(--font-size-small);
    }

    i {
      display: inline;
    }
  }
}

.link-active {
  color: var(--color-active);
}
