.nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: var(--zIndexNav);
  top: 47px;
  margin-left: 50%;
  left: -638px;

  @media (max-width: 1500px) {
    margin-left: 0;
    left: var(--spacingPage);
  }

  @media (max-width: 900px) {
    width: 100%;
    top: auto;
    bottom: 0;
    left: 0;
    flex-direction: row;
    background: var(--backgroundNav);
  }

  @media print {
    display: none;
  }
}

.navResume {
  display: none;
}

.link {
  font-size: var(--fontSizeMedium);
  color: var(--colorDefault);
  text-decoration: none;
  padding: var(--spacingSmall);
  outline: none;

  span {
    display: block;
  }

  i {
    display: none;
  }

  @media (max-width: 900px) {
    width: 100%;
    text-align: center;

    span {
      font-size: var(--fontSizeSmall);
    }

    i {
      display: inline;
    }
  }
}

.linkActive {
  color: var(--colorActive);
}
