@use "sass:math";
@use "sass:string";

// n is number of stars required
@function multiple-box-shadow($n) {
  $value: '#{math.random(2000)}px #{math.random(2000)}px rgba(255, 255, 255, .3)';

  @for $i from 2 through $n {
    $value: '#{$value} , #{math.random(2000)}px #{math.random(2000)}px rgba(255, 255, 255, .3)';
  }

  @return string.unquote($value);
}

$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);

@keyframes animate-star {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-2000px);
  }
}

@keyframes background-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.root {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
  background-image: linear-gradient(
    -45deg,
    rgb(0 26 25),
    rgb(4 0 26),
    rgb(0 26 25),
    rgb(4 0 26)
  );
  background-size: 400% 400%;
  animation: background-animation 15s ease infinite;
}

.stars1 {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animate-star 50s linear infinite;

  &::after {
    content: ' ';
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }
}

.stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animate-star 100s linear infinite;

  &::after {
    content: ' ';
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}

.stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animate-star 150s linear infinite;

  &::after {
    content: ' ';
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}
