.root {
  > div {
    padding-right: calc(190px - var(--spacing-page));

    h1 {
      padding-bottom: 0;
    }

    h2 {
      font-weight: var(--font-weight-thin);
    }

    > ul:nth-of-type(1) > li {
      padding-left: 0;
      text-indent: 0;
    }

    > ul:nth-of-type(1) > li::before {
      display: none;
    }

    > ul:nth-of-type(2) {
      column-count: 3;
    }

    > h4 + p {
      padding-bottom: var(--spacing-mini) !important;
    }

    > h2:last-of-type {
      padding-top: calc(var(--spacing-huge) - var(--spacing-mini));
    }

    @media (width <= 900px) {
      padding: var(--spacing-medium);
      margin-bottom: -64px;
    }

    @media (width <= 600px) {
      > ul:nth-of-type(2) {
        column-count: 3 !important;
      }
    }

    @media print {
      padding-right: 0;

      > ul:nth-of-type(2) {
        column-count: 3;
      }
    }
  }
}
